<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>nhat.data.web.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name> 
        <servlet-class>nhat.data.web.LoginServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>CollectionServlet</servlet-name>
        <servlet-class>nhat.data.web.CollectionServlet</servlet-class>
    </servlet>
            <servlet>
        <servlet-name>ChiTietSanPhamServlet</servlet-name>
        <servlet-class>nhat.data.web.ChiTietSanPhamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>nhat.data.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>nhat.data.web.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>CollectionServlet</servlet-name>
        <url-pattern>/collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ChiTietSanPhamServlet</servlet-name>
        <url-pattern>/ChiTietSanPham</url-pattern>
    </servlet-mapping>
    <!-- Trong file admin -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>nhat.data.web.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
